[Desktop Entry]
Version=1.0
Type=Application
Name=Wicher
Comment=Program magazynowy "Wicher"
Icon=/opt/Wicher/icons/icon256.png
Exec=/opt/Wicher/Wicher
Path=/opt/Wicher/Wicher
Terminal=false
StartupNotify=false
